/* #region VARIABLES */

$selection-highlight: #a7ceef;

$txt-white: white;
$txt-gray: #858686;
$txt-dark: #0B2436;

$home-hero-bg: #b4bdcb;

$science-section-bgc: #c9a3a4;
$science-section-hover-bgc: #d3b8b9;

$approach-section-bgc: #a7ceef;
$approach-section-hover-bgc: #bad8f1;

$applications-section-bgc: #acb5ac;
$applications-section-hover-bgc: #bec6bf;

$reach-out-section-bgc: #bf9668;

$footer-bgc: #f2f7f7;

/* #endregion VARIABLES */

/* #region FONTS */

/*#region D-DIN font*/
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DIN.woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DIN-Medium.woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DINCondensed.woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DIN-Bold.woff");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DIN-Italic.woff");
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "D-DIN";
    src: url("../../Fonts/D-DIN/D-DINCondensed-Bold.woff");
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
}
/*#endregion D-DIN font*/
/*#region Tiempos font*/
@font-face {
    font-family: "Tiempos";
    src: url("../../Fonts/Tiempos/TiemposHeadline-Black.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Tiempos";
    src: url("../../Fonts/Tiempos/TiemposHeadline-Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Tiempos";
    src: url("../../Fonts/Tiempos/TiemposHeadline-Light.woff");
    font-weight: 300;
    font-style: normal;
}
//Add more if required
/*#endregion Tiempos font*/
/*#region Untitled Sans*/
@font-face {
    font-family: "Untitled Sans";
    src: url("../../Fonts/UntitledSans/Untitled_Sans_Regular.woff2.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Untitled Sans";
    src: url("../../Fonts/UntitledSans/Untitled_Sans_Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Untitled Sans";
    src: url("../../Fonts/UntitledSans/Untitled_Sans_Bold.woff2.ttf");
    font-weight: bold;
    font-style: normal;
}
/*#endregion Untitled Sans*/

/* #endregion FONTS */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Untitled Sans";
}

/* To make 1rem = 10px */
html{ 
    font-size: 62.5%;
    body{ overflow-x: hidden; }
}

/* Highlight colors */
::selection{
    background-color: $selection-highlight;
    color: black;
}


/* #region --OPENING PAGE */

.home-hero-section{
    background-color: $home-hero-bg;

    nav{//nav container
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 3rem;

        .logo{
            z-index: 2;
        }

        /*#region Hamburger menu*/
        .menu-btn {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-right: -2rem;
            z-index: 2;
            width: fit-content;
            height: fit-content;
        }
        .hamRotate.active {
          transform: rotate(45deg);
        }
        .hamRotate180.active {
          transform: rotate(180deg);
        }
        .line {
          fill:none;
          transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
          stroke: white;
          stroke-width:3.15;
          stroke-linecap:round;
        }
        .ham1 .top {
          stroke-dasharray: 40 139;
        }
        .ham1 .bottom {
          stroke-dasharray: 40 180;
        }
        .ham1.active .top {
          stroke-dashoffset: -98px;
        }
        .ham1.active .bottom {
          stroke-dashoffset: -138px;
        }
        /*#endregion Hamburger menu*/

        .navlinks{
            display: none;
        }
    }

    .hero-text{//Description
        font-family: "Untitled Sans";
        font-weight: 500;
        font-size: 4.2rem;
        letter-spacing: -0.1rem;
        line-height: 4.7rem;

        margin: 4rem 3rem 0 3rem;

        color: $txt-white;
    }

    .hero-img-container{//Brainwave image
        margin-top: 2rem;

        .home-image{ 
            width: 100%;
            pointer-events: none;
        }
    }

    .extra-links{
        margin: 1.5rem 3rem 0 3rem;
        padding-bottom: 5.5rem;
        position: relative;

        a{
            text-decoration: none;
            text-align: start;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;

            p{  
                color: $txt-white;
                font-family: "D-DIN";
                font-size: 2rem;
                font-weight: 500;
                margin-top: 1.1rem;
            }

            .right-arrow{
                position: absolute;
                top: 45%;
                left: 105%;
            }
        }

        &::before{
            content: "";
            width: 78%;
            height: 0.2rem;
            background-color: white;

            position: absolute;
            top: -1.3rem;
            left: 0;
        }
    }

    .menu-board{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease;

        position: absolute;
        top: 0;
        overflow: hidden;

        width: 100vw;
        height: 100vh;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .menu-navlinks{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 22rem 3rem 0 3rem;

            a{
                text-decoration: none;
                color: $txt-dark;

                font-family: "D-DIN";
                font-size: 2rem;
                font-weight: 500;

                margin-bottom: 0.5rem;
            }
        }

        .menu-connect-links{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 2rem 3rem 0 3rem;

            a{
                text-decoration: none;
                color: $txt-gray;

                font-family: "D-DIN";
                font-size: 1.4rem;
                font-weight: 500;
                margin-top: 0.3rem;

                &:hover{
                    color: $txt-dark;
                }
            }
        }

        .updates-form{
            margin: 2.5rem 3rem 0 3rem;
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;

            input{
                flex-grow: 1;
                border: none;
                outline: none;

                &::placeholder{
                    font-family: "D-DIN";
                    font-weight: 500;
                    font-size: 1.4rem;
                    opacity: 0.5;
                }
            }

            .submit-button{
                opacity: 0.5;
                cursor: pointer;
            }
        }
        
        .form-underline{
            margin: 0.5rem 3rem;
            margin-bottom: 0;
            height: 0.05rem;
            background-color: $txt-dark;
            opacity: 0.3;
            transition: opacity 0.2s ease;
        }

    }
}

.work-display-section{//Links to sections

    .science-section, 
    .approach-section, 
    .applications-section{
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;

        a{ 
            text-decoration: none;
            color: $txt-white;
            width: 100%;
            position: relative;
        }

        .section-title{
            position: relative;
            padding: 3.4rem 0;
            margin: 0 3rem;
            font-family: "Tiempos";
            font-size: 3rem;
            font-weight: 300;
            line-height: 3.6rem;

            &::after{
                content: '';
                background-color: $txt-white;
                width: 100%;
                height: 0.07rem;

                position: absolute;
                left: 0;
                bottom: 0.55rem;
            }
        }

        .figure-number{
            margin: 0 3rem;
            position: relative;
            
            p{
                font-family: "D-DIN";
                font-size: 1.4rem;
                font-weight: 500;
            }
        }

        .section-image{ 
            display: none;
        }

        .section-link{
            padding: 2.85rem 3rem;
            padding-top: 3.7rem;
            display: flex;
            align-items: center;

            p{
                font-family: "D-DIN";
                font-weight: 500;
                font-size: 2rem;
                margin-right: 0.5rem;
            }

            .section-link-arrow{
                margin-top: 0.3rem;
            }
        }

        &:hover{ opacity: 0.75; }
    }

    .science-section{ 
        background-color: $science-section-bgc;
        background-image: url('/Images/Home/Science-section-bg-mobile.png');
    }
    .approach-section{ 
        background-color: $approach-section-bgc;
        background-image: url('/Images/Home/Approach-section-bg-mobile.png');
    }
    .applications-section{ 
        background-color: $applications-section-bgc;
        background-image: url('/Images/Home/Applications-section-bg-mobile.png');
    }

}

.reach-out-section{
    padding: 0 3rem;
    background: url('/Images/Home/Reach-out-section-bg-mobile.png');
    background-position: top center;
    background-size: cover;

    .reach-out-title{
        font-family: "Tiempos";
        font-weight: 300;
        font-size: 3rem;
        line-height: 3.7rem;
        color: $txt-white;
        padding-top: 5.7rem;
        position: relative;

        &::after{
            content: '';
            width: 100%;
            height: 0.07rem;
            background-color: $txt-white;
            position: absolute;
            left: 0;
            bottom: -3rem;
        }
    }

    .reach-out-description{
        font-size: 2rem;
        line-height: 2.4rem;
        color: $txt-white;
        margin-top: 6rem;
    }

    .reach-out-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 60rem;
        padding-bottom: 5.7rem;

        p{
            color: $txt-white;
            font-family: "D-DIN";
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            margin-right: 0.5rem;
        }

        .reach-out-link-arrow{
            margin-top: 0.3rem;
        }
    }
}

footer{
    background-color: $footer-bgc;

    .margin-set-container{
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .logo-and-copyright{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-grow: 3;

            .logo{
                margin-top: 0.5rem;

                .cls-1{fill: $txt-gray;}
            }

            p{
                font-family: "D-DIN";
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2rem;
                color: $txt-gray;
            }
        }

        .navlinks{
            display: none;
        }

        .connect-and-updates{
            display: none;
        }
    }
}



/* #endregion --OPENING PAGE */



/* Styling for tablets */
@media (min-width: 768px){

    .home-hero-section{

        nav{
            padding: 5rem 6rem;
            padding-bottom: 0;
            align-items: flex-start;

            .logo{
                margin-top: 1rem;
            }

            .menu-btn{
                display: none;
            }

            .navlinks{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;

                z-index: 3;

                a{
                    text-decoration: none;
                    color: $txt-white;
                    font-family: "D-DIN";
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    position: relative;

                    &::after{
                        content: '';
                        background-color: $txt-white;
                        height: 0.2rem;
                        width: 0;
                        margin-left: 0.2rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: width 0.2s ease;
                    }

                    &:hover::after{
                        width: 1.45rem;
                    }
                }
            }
        }

        .hero-text{
            font-size: 6rem;
            padding-left: 3rem;
            line-height: 6.8rem;
        }

        .hero-img-container{
            position: absolute;
            right: -73rem;
            top: 12.5rem;

            .home-image{
                width: 80%;
            }
        }

        .extra-links{
            padding-top: 33.5rem;
            padding-left: 3rem;
            padding-bottom: 6.3rem;
            display: flex;
            align-items: center;

            a{
                margin-right: 5rem;
                font-size: 1.8rem;

                .right-arrow{
                    top: 38%;
                }
            }

            &::before{
                top: 32rem;
                left: 3rem;
                width: 56%;
            }
        }
    }

    .work-display-section{

        .science-section,
        .approach-section,
        .applications-section{
            background-image: none;

            .section-title{
                padding: 6.2rem 0;
                margin: 0 6rem;
                padding-bottom: 3.4rem;
                font-size: 4.2rem;
                line-height: 4.8rem;

                &::after{ height: 0.2rem; }
            }

            .figure-number{
                margin: 0 6rem;
                p{ text-align: right; }
            }

            .section-image{
                display: block;
                margin: 0.8rem auto;
                width: 25rem;
    
                img{ width: 100%; }
            }

            .section-link{
                padding: 6rem;
                padding-top: 0;
            }

            &:hover{ opacity: 1; }
        }

        .approach-section, .applications-section{
            .section-image{ width: 40rem; }
        }

        .science-section{
            &:hover{
                background-color: $science-section-hover-bgc;
            }
        }
        .approach-section{
            &:hover{
                background-color: $approach-section-hover-bgc;
            }
        }
        .applications-section{
            &:hover{
                background-color: $applications-section-hover-bgc;
            }
        }
    }

    .reach-out-section{
        padding: 0.5rem 6rem;
        background: url('/Images/Home/Reach-out-section-bg.jpg') top center/cover;

        div{
            width: 33rem;

            .reach-out-title{
                font-size: 4.2rem;
                line-height: 4.7rem;

                &::after{
                    height: 0.2rem;
                }
            }

            .reach-out-description{
                font-size: 1.8rem;
            }

            .reach-out-link{
                margin-top: 22.8rem;
                p{ width: 16ch; }
            }
        }
    }

}


/* Styling for laptops */
@media (min-width: 970px){

    .home-hero-section{

        .hero-img-container{
            position: absolute;
            top: 13.8rem;
            right: -46rem;

            .home-image{
                width: 72%;
            }
        }

        .extra-links{

            &::before{
                width: 46%;
            }
        }
    }

    .work-display-section{
        display: flex;

        .science-section,
        .approach-section,
        .applications-section{
            width: 33.3%;
            
            a{
                display: flex;
                flex-direction: column;
                align-content: space-around;
            }

            .section-image{
                width: 100%;
            }
        }

        .science-section{
            .section-image{ width: 25rem; }
        }
        .approach-section{
            .section-image{ margin-top: 4.5rem; }

            .section-link{ margin-top: 3rem; }
        }
        .applications-section{
            .section-image{ margin-top: 2rem; }

            .section-link{ margin-top: 0.5rem; }
        }
    }

    footer{
        .margin-set-container{
            padding: 6rem;
            margin: auto;

            .logo-and-copyright{
                width: auto;
                justify-content: stretch;
                flex-grow: 2;

                .logo{
                    margin-right: 7%;
                }
            }

            .connect-and-updates{
                display: flex;
                align-items: flex-start;
                flex-grow: 2;
                float: right;

                .navlinks{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 2;
        
                    a{
                        text-decoration: none;
                        width: fit-content;
                        color: $txt-gray;
                        font-family: "D-DIN";
                        font-size: 1.4rem;
                        line-height: 2rem;
                        font-weight: 500;
                        transition: color 0.08s ease-in-out;
        
                        &:hover{ color: $txt-dark; }
                    }
                }

                div{
                    flex-grow: 2;
                    .connect-links{
                        a{
                            display: block;
                            text-decoration: none;
                            color: $txt-gray;
                            width: fit-content;
                            font-family: "D-DIN";
                            font-weight: 500;
                            font-size: 1.4rem;
                            line-height: 2rem;
                            transition: color 0.08s ease-in-out;
    
                            &:hover{color: $txt-dark;}
                        }
                    }
    
                    .updates-signup{
                        margin-top: 2rem;
                        position: relative;
    
                        input{
                            border: none;
                            background-color: transparent;
                            min-width: 20ch;
                            width: 95%;
                            outline: none;
                            text-transform: uppercase;
    
                            &::placeholder{
                                opacity: 0.3;
                                font-family: "D-DIN";
                                font-weight: 500;
                                font-size: 1.4rem;
                            }
                        }
    
                        svg{
                            opacity: 0.5;
                            transform: translateY(0.2rem);
                            cursor: pointer;
                            transition: opacity 0.1s ease;
                            &:hover{opacity: 1;}
                        }
    
                        &::after{
                            content: '';
                            width: 100%;
                            height: 0.1rem;
                            background-color: $txt-dark;
                            position: absolute;
                            left: 0;
                            bottom: -0.5rem;
                            opacity: 0.3;
                            transition: opacity 0.1s ease;
                        }
    
                        &:hover::after{opacity: 1;}
                    }
                }
            }
        }
    }
}


/* Styling for large screens */
@media (min-width: 1100px){

    .home-hero-section{

        .hero-img-container{
            top: -2rem;
            right: -34rem;

            .home-image{
                width: 71%;
            }
        }

        .extra-links{
            padding-top: 13.5rem;

            &::before{
                top: 12rem;
                width: 36%;
            }
        }
    }

    .work-display-section{
        .approach-section,
        .applications-section{
            .section-image{
                width: 40rem;
            }
        }

        .applications-section{
            .section-link{ margin-top: 0; }
        }
    }

    .reach-out-section{
        div{
            width: 36.5rem;

            .reach-out-link{
                margin-top: 20rem;
                p{ width: 15ch; }
            }
        }
    }
}


/* Styling for HD screens */
@media (min-width: 1400px){

    .home-hero-section{

        nav{
            .navlinks{
                a{
                    font-weight: bold;
                    font-size: 1.6rem;
                }
            }
        }

        .hero-img-container{
            right: -24rem;
        }

        .extra-links{

            a{
                font-weight: bold;
            }

            &::before{
                width: 23%;
            }
        }
    }

    .reach-out-section{
        div{
            width: 58rem;

            .reach-out-description{
                width: 30ch;
            }

            .reach-out-link{ margin-top: 25rem; }
        }
    }

    footer{
        .margin-set-container{

            .logo-and-copyright{
                margin-right: 20%;
                .logo{margin-right: 15%;}
                p{font-size: 1.6rem;}
            }
        }
    }
}


/* Styling for 4K screens */
@media (min-width: 2000px){

    .home-hero-section{

        .hero-img-container{
            right: 5rem;
        }

        .extra-links{

            &::before{
                width: 11.3%;
            }
        }
    }

    .work-display-section{
        .science-section,
        .approach-section,
        .applications-section{

            .section-title{
                &::after{height: 0.3rem;}
            }

            .figure-number{
                margin-top: 0.1rem;
                p{
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .reach-out-section{
        div{
            width: 123rem;

            .reach-out-title{
                &::after{ height: 0.4rem; }
            }

            .reach-out-link{ margin-top: 45rem; }
        }
    }

    footer{
        .margin-set-container{

            .connect-and-updates{
                div{
                    .updates-signup{
                        &::after{height: 0.2rem;bottom: -1.3rem;}
                    }
                }
            }
        }
    }
}
